<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum Page</title>

        <!-- Ajax jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link href="href/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!-- Font api -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        
        <!-- CSS STYLE -->
        <link rel="stylesheet" type="text/css" href="href/style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="href/custom.css" media="screen" />



        <!-- Vue.js -->
        <script src="href/vue.js"></script>

    </head>

    <body>


        <div class="container-fluid" id="forum">
            
            <!-- Create New post -->
            <div id = "overlay">
                <div id ="overlayform">
                        <label for="postHeader">Header</label><br>
                        <input type="text" id="postHeader" name="postHeader" value="" placeholder="Enter your Post Heading here"><br>
                        <label for="postCaption">Caption</label><br>
                        <input type="text" id="postCaption" name="postCaption" value="" placeholder="Enter your Post Caption here"><br>

                        <label for="postCategory">Category:</label><br>
                        <select id="postCategory">
                            <option value="Office Chair">Office Chair</option>
                            <option value="Gaming Chair">Gaming Chair</option>
                            <option value="Armchair">Armchair</option>
                            <option value="Wheelchair">Wheelchair</option>
                            <option value="Budget Chair">Budget Chair</option>
                            <option value="Luxurious Chair">Luxurious Chair</option>
                        </select><br>
                        <label for="postBody">Body</label><br>
                        <textarea id="postBody" name="postBody" rows ="8" style="width:500px;font-size:14pt;" value="" placeholder=""></textarea><br>
                        <br><button id="submit">Submit</button><br><br>
                    <button onclick="off()">Discard Form</button>
                </div>

            </div>

        <!-- Navigation Bar -->
        <nav id="myNavbar" class="navbar navbar-expand-md navbar-custom navbar-dark fixed-top px-3">

            <!-- Brand -->
            <a class="navbar-brand" href="#">ChairGod69</a>
            <!-- Navbar toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2" aria-controls=".dual-collapse2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Left aligned links -->
            <div class="collapse navbar-collapse dual-collapse2" id="navbarCollapseLeft">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link linkText" href="#landingPage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linkText" href="#aboutUsPage">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linkText" href="#guidePage">Choosing Guide</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle linkText" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Buy A Chair</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">Catalogue</a></li>
                        <li><a class="dropdown-item" href="">See What Others Recommend</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="">Get Support</a></li>
                    </ul>
                </li>
                
            </ul>
            </div>
            <!-- End of left aligned links -->

            <!-- Right aligned links -->
            <div class="collapse navbar-collapse dual-collapse2" id="navbarCollapseRight">
            <ul class="navbar-nav ms-auto navPadding">
                <li class="nav-item" v-if="loggedUser == ''">
                    <a class="nav-link linkText" href="login.html">Login</a>
                </li>
                <li class="nav-item dropdown" v-if="loggedUser != ''">
                    <a class="nav-link dropdown-toggle linkText" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ loggedUser }}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="passwordChange.html">Password Change</a></li>
                        <li><a class="dropdown-item" v-on:click="logout()" >Log Out</a></li>
                    </ul>
                </li>
            </ul>
            </div>
            <!-- End of right aligned links -->

        </nav>
        <!-- End of navbar -->
        <!-- End of navbar -->

        

            <!-- search bar and post new forum -->
            <div class="headernav" style= "padding-top: 70px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                        </div>

                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <form action="#" method="post" class="form">
                                    
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Topics">
                                        <button class="btn-secondary" style="border-radius: 5px;">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left">                            
                                    <button class="btn btn-primary" onclick="on()">Start New Post</button>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container"> <!-- POST container -->
                <div class="row">
                    <div class="col-lg-8 col-md-8"> 
                        <!-- POST -->
                        <div class="post" v-for = "(post,index) of forum">
                            <div class="wraput" style="padding-bottom: 10px;">
                                <h2>{{ post.postHeader }}</h2>
                                <div>{{ post.postCaption }} </div>
                                <button type ="button" class="collapsible" >Read More..</button>
                                <div class="content" style="font-weight: lighter;">
                                    {{ post.postBody }}
                                </div>
                            </div>
                            <div class="row comments">
                                    <table class="table table-borderless" style ="border-top:solid #687074 2px">
                                        <td class="btn-group" role="group" style="width: 80%;">
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="reply-form" :data-target="post.postID" style="color: black;">comment: {{post.comments.length}}</button>
                                            <button type="button" class="btn btn-outline-secondary vote">upvote: {{post.upvotes.length}} </button>
                                            <button type="button" class="btn btn-outline-secondary vote">downvote: {{post.downvotes.length}} </button>
                                        </td>
                                        <td colspan="6" style="text-align: right;">Posted by {{ post.pUserId }} at {{ post.postDate }}</td>
                                    </table>

                                    

                                    <div class="comment-thread d-none" :id="post.postID">
                                        <button type="button" data-toggle="reply-form" :data-target="post.postHeader" style="margin-bottom: 10px;">Post Comment</button>
                                        <!-- Reply form start -->
                                        <form method="POST" class="reply-form d-none" :id="post.postHeader">
                                            <textarea placeholder="Comment" rows="4"></textarea>
                                            <br>
                                            <button type="submit">Submit</button>
                                            <button type="button" data-toggle="reply-form" :data-target="post.postHeader">Cancel</button>
                                            <br><br>
                                        </form>
                                        <!-- Reply form end -->
                                        <h1 style ="font-size: 20px; margin-left: -10px;margin-bottom: -5px;">Comments</h1>
                                        <div class="comment-thread" v-for = "comment of post.comments">
                                            <!-- Comment 1 start -->
                                            <div class="comment" id="comment-1">
                                                <div class="comment-heading">
                                                    <div class="comment-voting">
                                                        <button type="button" class="vote">
                                                            <span aria-hidden="true" >&#9650;</span>
                                                            <span class="sr-only">Vote up</span>
                                                        </button>
                                                        <button type="button" class="vote">
                                                            <span aria-hidden="true">&#9660;</span>
                                                            <span class="sr-only">Vote down</span>
                                                        </button>
                                                    </div>
                                                    <div class="comment-info">
                                                        <a class="comment-author">{{comment[0]}}</a>
                                                        <p class="m-0">
                                                            22 points &bull; 4 days ago
                                                        </p>
                                                    </div>
                                                </div>
                                        
                                                <div class="comment-body">
                                                    <p>
                                                        {{comment[1]}}
                                                        This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
                                                    </p>
                                                    <!-- <button type="button">Reply</button>
                                                    <button type="button">Flag</button> -->
                                                </div>
    
                                            </div>
                                            <!-- Comment 1 end -->
                                        </div>

                                    </div>

                                    
                                    
                            

                            </div>
                        </div> <!-- POST -->
                    </div> <!-- POST container end -->


                    <!-- Side bar container -->
                    <div class="col-lg-4 col-md-4">
                        <div class="sidebarblock">
                            <h3>Categories</h3>
                            <div class="divline"></div>
                            <div class="blocktxt">
                                <ul class="cats" style="list-style-type:none;" >
                                    <li><input type="radio" name="postCategory" value="all" id="category" v-on:click="categoryfilter('all')"><label for="category">All Category</label></li>
                                    <li><input type="radio" name="postCategory" value="Office Chair" id="category1" v-on:click="categoryfilter('Office Chair')"><label for="category1">Office Chair</label></li>
                                    <li><input type="radio" name="postCategory" value="Gaming Chair" id="category2" v-on:click="categoryfilter('Gaming Chair')"><label for="category2">Gaming Chair</label></li>
                                    <li><input type="radio" name="postCategory" value="Armchair" id="category3" v-on:click="categoryfilter('Armchair')"><label for="category3">Armchair</label></li>
                                    <li><input type="radio" name="postCategory" value="Wheelchair" id="category4" v-on:click="categoryfilter('Wheelchair')"><label for="category4">Wheelchair</label></li>
                                    <li><input type="radio" name="postCategory" value="Budget Chair" id="category5" v-on:click="categoryfilter('Budget Chair')"><label for="category5">Budget Chair</label></li>
                                    <li><input type="radio" name="postCategory" value="Luxurious Chair" id="category6" v-on:click="categoryfilter('Luxurious Chair')"><label for="category6">Luxurious Chair</label></li>
                                </ul>
                            </div>
                        </div>
        
                    </div> <!-- Side bar container end -->

                </div>

            </div>
        </div>
            



        
        <!-- Collapsible function for post -->
        <script>

            var coll = document.getElementsByClassName("collapsible");
            var i;
            console.log(coll);
            for (i = 0; i < coll.length; i++) {
                console.log(coll)
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                    content.style.display = "none";
                    } 
                    else {
                    content.style.display = "block";
                    }
                });
            }
        </script>
        <script>
            var coll = document.getElementsByClassName("collapsiblebtn");
            var i;
            console.log(coll)
            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } 
                else {
                    content.style.display = "block";
                }
                });
            }
        </script>

        <!-- Collapsible function for create new post -->   
        <script>
            function on() {
                document.getElementById("overlay").style.display = "block";
                }
                
            function off() {
                if (confirm("Are you sure you want to discard the form?")) {
                    document.getElementById("overlay").style.display = "none";
                }
            }
        </script>

        <!-- Vote function for colour -->
        <script> 
            for (const btn of document.querySelectorAll('.vote')) {
                btn.addEventListener('click', event => {
                event.currentTarget.classList.toggle('on');
                });
            }

            document.addEventListener(
                "click",
                function(event) {
                    var target = event.target;
                    var replyForm;
                    if (target.matches("[data-toggle='reply-form']")) {
                        replyForm = document.getElementById(target.getAttribute("data-target"));
                        replyForm.classList.toggle("d-none");
                    }
                },
                false
            );
        </script>
    
        <!-- Firebase -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
        <!-- This is the API from Firebase Realtime Database -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script> 
        
        <!-- Vue.js -->
        <script src="https://unpkg.com/vue@next"></script>
        <!--Vuefire-->
        <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <!-- App -->
        <script src="data.js"></script>

    </body>



</html>