<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChairGod</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="project.css">

</head>

<body data-bs-spy="scroll" data-bs-offset="0">

    <div class="container-fluid">
        <div class="row">
            <!-- Navbar -- Change collapse breakpoint with navbar-expand-*breakpoint* -- -->
            <nav id="myNavbar" class="navbar navbar-expand-md navbar-custom navbar-dark fixed-top px-3">

                <!-- Brand -->
                <a class="navbar-brand" href="#">ChairGod69</a>
                <!-- Navbar toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2" aria-controls=".dual-collapse2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Left aligned links -->
                <div class="collapse navbar-collapse dual-collapse2" id="navbarCollapseLeft">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link linkText" href="#landingPage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="#aboutUsPage">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkText" href="#guidePage">Choosing Guide</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle linkText" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Buy A Chair</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">Catalogue</a></li>
                            <li><a class="dropdown-item" href="">See What Others Recommend</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="">Get Support</a></li>
                        </ul>
                    </li>
                    
                </ul>
                </div>
                <!-- End of left aligned links -->

                <!-- Right aligned links -->
                <div class="collapse navbar-collapse dual-collapse2" id="navbarCollapseRight">
                <ul class="navbar-nav ms-auto navPadding">
                    <li class="nav-item" v-if="loggedUser == ''">
                        <a class="nav-link linkText" href="login.html">Login</a>
                    </li>
                    <li class="nav-item dropdown" v-if="loggedUser != ''">
                        <a class="nav-link dropdown-toggle linkText" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ loggedUser }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="passwordChange.html">Password Change</a></li>
                            <li><a class="dropdown-item" v-on:click="logout()" >Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
                <!-- End of right aligned links -->

            </nav>
            <!-- End of navbar -->

        </div>
    </div>
    
    <div data-bs-target="#myNavbar">
        <!-- Each new container demarcs a new "page" -->
        <!-- Page 1 / Landing Page -->
        <div class="container-fluid" id="landingPage">
            <div class="d-flex flex-column align-items-center">
                <h1>Chair shopping made easy.</h1>
                <div class="break"></div>
                <div id="loginBtns">
                    <a href="#aboutUsPage" class="btn btn-secondary btn-lg btnSize" role="button">Learn More</a>
                    <a href="#" class="btn btn-secondary btn-lg btnSize" role="button">Buy A Chair</a>
                </div>
                <div class="break"></div>
                <div id="landingImg">
                    <img src="images/landingImg.jpg" class="img-fluid">
                </div>
            </div>
            
        </div>

        <!-- Page 2 / About Us -->
        <div class="container-fluid" id="aboutUsPage">
            <div class="d-flex flex-column align-items-center">
                <h1>About Us<h1>
                <div class="bodyText" style="text-align: center;">Choosing the right chair can sometimes be a daunting task. We are here to help with that. 
                </div>
                <div class="breakPara"></div>
                <div class="bodyText" style="text-align: center;">We have multiple chairs in our catalogue, each with their own uses 
                    and fulfills different functions. Here are some of them.
                </div>
                <div class="breakPara"></div>

                <div class="album">
                    <div class="container px-5">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                            <!-- start of one card -->
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="card-img-top img-fluid" src="images/Kevinhviid-brown-3.jpg"> <!-- Use 1500x1500 image res -->
                
                                    <div class="card-body">
                                        <p class="card-text">Classic Chairs</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">See More</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <!-- end of one card -->

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="card-img-top img-fluid" src="images/social_meta_main-min_1500x1500.jpg"> <!-- Use 1500x1500 image res -->
                    
                                    <div class="card-body">
                                        <p class="card-text">Gaming Chairs</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">See More</button>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>    

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="card-img-top img-fluid" src="images/Kevinhviid-brown-3.jpg"> <!-- Use 1500x1500 image res -->
                    
                                    <div class="card-body">
                                        <p class="card-text">Classic Chairs</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">See More</button>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>   
                            </div>                         

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="card-img-top img-fluid" src="images/Kevinhviid-brown-3.jpg"> <!-- Use 1500x1500 image res -->
                    
                                    <div class="card-body">
                                        <p class="card-text">Classic Chairs</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">See More</button>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="card-img-top img-fluid" src="images/Kevinhviid-brown-3.jpg"> <!-- Use 1500x1500 image res -->
                    
                                    <div class="card-body">
                                        <p class="card-text">Classic Chairs</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">See More</button>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="card-img-top img-fluid" src="images/Kevinhviid-brown-3.jpg"> <!-- Use 1500x1500 image res -->
                    
                                    <div class="card-body">
                                        <p class="card-text">Classic Chairs</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">See More</button>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="card-img-top img-fluid" src="images/Kevinhviid-brown-3.jpg"> <!-- Use 1500x1500 image res -->
                    
                                    <div class="card-body">
                                        <p class="card-text">Classic Chairs</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">See More</button>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="card-img-top img-fluid" src="images/Kevinhviid-brown-3.jpg"> <!-- Use 1500x1500 image res -->
                    
                                    <div class="card-body">
                                        <p class="card-text">Classic Chairs</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">See More</button>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                                                        
                        </div> 
                    </div>
                </div>
    
                <div class="break"></div>
            
            </div>

        </div>

        <!-- Page 3 / Chair Choosing Guide -->
        <div class="container-fluid" id="guidePage">
            <div class="row">

                <div class="col-md-4 d-flex flex-column align-items-center">
                    <h1>How to Choose the Perfect Chair</h1>
                    <div class="breakPara"></div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <div class="bodyText">
                        Choosing the perfect chair that is suitable for you can be difficult
                        so let us help you out.

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <!--Vuefire-->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    loggedUser : "",
                }
            }
            ,

            created() {
                if (localStorage.loggedUser) {
                    this.loggedUser = localStorage.loggedUser;
                }
            }
            ,

            methods: {
                logout () {
                    this.loggedUser = "";
                    localStorage.removeItem("loggedUser");
                    alert("Logged Out Successfully")
                }
            }

        })

        app.mount("#myNavbar");
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
    
    
</body>

</html>